schemas/discovery/ogf_nsi_discovery_types_v1_0-REST.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
The OGF takes no position regarding the validity or scope of any intellectual property or other rights that might be claimed to pertain to the implementation or use of the technology described in this document or the extent to which any license under such rights might or might not be available; neither does it represent that it has made any effort to identify any such rights.  Copies of claims of rights made available for publication and any assurances of licenses to be made available, or the result of an attempt made to obtain a general license or permission for the use of such proprietary rights by implementers or users of this specification can be obtained from the OGF Secretariat.

The OGF invites any interested party to bring to its attention any copyrights, patents or patent applications, or other proprietary rights which may cover technology that may be required to practice this recommendation.  Please address the information to the OGF Executive Director.

This document and the information contained herein is provided on an "As Is" basis and the OGF disclaims all warranties, express or implied, including but not limited to any warranty that the use of the information herein will not infringe any rights or any implied warranties of merchantability or fitness for a particular purpose.

Copyright (C) Open Grid Forum (2009-2012). All Rights Reserved.

This document and translations of it may be copied and furnished to others, and derivative works that comment on or otherwise explain it or assist in its implementation may be prepared, copied, published and distributed, in whole or in part, without restriction of any kind, provided that the above copyright notice and this paragraph are included on all such copies and derivative works. However, this document itself may not be modified in any way, such as by removing the copyright notice or references to the OGF or other organizations, except as needed for the purpose of developing Grid Recommendations in which case the procedures for copyrights defined in the OGF Document process must be followed, or as required to translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by the OGF or its successors or assignees.

Open Grid Forum NSI Interface Discovery Protocol v1.0.

Description: This is the NSI Interface Discovery types schema for the reference web services implementation of the OGF NSI Interface Discovery Protocol v1.0. Comments and questions can be directed to the mailing list group mailing list (nsi-wg@ogf.org).
-->
<xsd:schema targetNamespace="http://schemas.ogf.org/nsi/2013/04/discovery/types"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:atom="http://www.w3.org/2005/Atom"
    xmlns:ftypes="http://schemas.ogf.org/nsi/2013/04/framework/types"
    xmlns:xcard="urn:ietf:params:xml:ns:vcard-4.0"
    xmlns:tns="http://schemas.ogf.org/nsi/2013/04/discovery/types">

    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            This is an XML schema document describing the OGF NSI Service
            Discovery Protocol v1.0.  There is a corresponding WADL schema
            providing a description of the RESTful service definition.
            
            Within the NSI reference architecture the Network Services Agent
            (NSA) is an entity that offers network services.  These services
            can be varied in functionality, and an NSA does not need to offer
            all services defined within a network.  For example, one NSA may
            offer Connection Services and Topology Services for a specific
            network, while a second NSA offers Monitoring Services for that
            same network.  In addition, the versions of the services offered
            can vary from NSA to NSA.  The Service Discovery Protocol is a
            metadata service designed to enable self-description of all NSI
            services and associated protocol interfaces offered by these NSA.
            
            The Service Discovery schema allows an NSA to describe the services
            and versions of services that it supports.  Through the REST API
            access methods defined, an NSA can dynamically discover services
            and capabilities supported by a peer NSA, perform protocol version
            negotiation based on the supplied metadata, identify protocol
            endpoints, and bootstrap peer communications with minimal
            configuration.
            
            Service Discovery uses a basic request/response-messaging model
            with an HTTP binding following RESTful principles:
            
            - HTTP GET carries discovery query operations
            - HTTP 200 OK response carries result of the query operation
            - HTTP socket blocks until a result or error is returned (synchronous)
            
            NSI Service Discovery uses a simple resource model, which permits
            the discovery of NSA, their attributes, and the services offered.
            The two primary resources modeled are the individual NSA and the
            individual services.  The resource URL is structured to allow for
            independent navigation using either the context of an NSA or the
            context of a service with defined relationship linkages between.
            
            The following URL resource hierarchy is supported:
            
            /nsas - Returns a list of all available NSA.
            /nsas?networkId={networkId} - Returns a list of NSA available matching the supplied networkId search criteria.
            /nsas/{nsaId} - Returns a specific NSA entry.
            /nsas/{nsaId}/services - Returns a list of services supported by the specific NSA.
            
            /services - Returns a list of all available services.
            /services?nsaId={nsaId} - Returns a list of services available filtered by specific NSA.
            /services?networkId={networkId} - Returns a list of services available for the matching networkId search criteria.
            /services/{serviceId} - Returns a specific service entry.
        </xsd:documentation>
    </xsd:annotation>

    <!-- Import the common NSI framework types. -->
    <xsd:import namespace="http://schemas.ogf.org/nsi/2013/04/framework/types" schemaLocation="ogf_nsi_framework_types_v2_0.xsd"/>
    
    <!-- Import additional standard name spaces. -->
    <xsd:import namespace="http://www.w3.org/2005/Atom" schemaLocation="atom.xsd"/>
    <xsd:import namespace="urn:ietf:params:xml:ns:vcard-4.0" schemaLocation="xCard.xsd"/>

    <!-- ******************************************************************
         *                     XML element types                          *
         ****************************************************************** -->
    
    <!-- NSAs resource definition. -->
    <xsd:element name="nsas" type="tns:NsaListType" />
    
    <!-- NSA resource definition. -->
    <xsd:element name="nsa" type="tns:NsaType" />
    
    <!-- Services resource definition. -->
    <xsd:element name="services" type="tns:ServiceListType" />
    
    <!-- Service resource definition. -->
    <xsd:element name="service" type="tns:ServiceType" />

    <!-- ******************************************************************
         *                       XML base types                           *
         ****************************************************************** -->
    <xsd:complexType name="NsaListType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Type definition for a list of NSA resources.  Type contains
                a list of available NSA and associated meta-data.
                
                Elements:
                
                nsa - The NSA and associated meta-data.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="tns:nsa" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="NsaType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Type definition for an NSA resource.  Type contains a specific
                NSA resource and associated meta-data.
                
                Attributes:
                
                nsaId - Identifier of the NSA this entry represents.  This is
                the URI formatted name as defined in the NSI framework.
                
                anyAttribute - Provides a flexible mechanism allowing additional
                attributes in the discovery message exchange between two peered
                NSA.  Use of this attribute field is beyond the current scope of
                this NSI specification, but may be used in the future to extend
                the existing protocol without requiring a schema change.
                Additionally, the field can be used between peered NSA to provide
                additional context not covered in the existing specification,
                however, this is left up to specific peering agreements.  
                
                Elements:
                
                link - Inherited from the Atom definition for referencing the
                NSA resource directly.  The "rel" attribute contains "self"
                indicating that this reference is a direct link to the NSA
                discovery meta-data.  The "href" attribute contains the
                direct URL reference to the NSA resource.
                
                For example:
                    href="https://nsa.ogf.org/discovery/nsa/nsa1"
                    rel="self"
                
                softwareVersion - Software type and version of this NSA.
                
                startTime - The time at which this NSA started to provide
                uninterupted service.
                
                adminContacts - A list of administrative contacts associated
                with this NSA.

                networks - A list of network identifiers for which this NSA is
                providing the listed services.

                services - The list of services supported by the NSA.
                
                attributes - A list of optional attributes associated with the
                NSA resource.
                
                any - Provides a flexible mechanism allowing additional elements
                to be provided in the discovery message.  Use of this element
                field is beyond the current scope of this NSI specification, but
                may be used in the future to extend the existing protocol without
                requiring a schema change.  Additionally, the field can be used
                between peered NSA to provide additional context not covered in
                the existing specification, however, this is left up to specific
                peering agreements.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="link" type="atom:linkType" />
            <xsd:element name="softwareVersion" type="xsd:string" minOccurs="0" />
            <xsd:element name="startTime" type="ftypes:DateTimeType" minOccurs="0" />
            <xsd:element name="adminContacts" type="xcard:VcardsType" minOccurs="0" />
            <xsd:element name="networks" type="tns:NetworkIdListType" minOccurs="0" />
            <xsd:element ref="tns:services" minOccurs="0" />
            <xsd:element name="attributes" type="ftypes:TypeValuePairListType" minOccurs="0" />
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="nsaId" use="required" type="ftypes:NsaIdType" />
        <xsd:anyAttribute namespace="##other" processContents="lax" />
    </xsd:complexType>

    <xsd:complexType name="NetworkIdListType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Type definition for a list of network identifiers associated
                with an NSA.
                
                Elements:
                
                networkId - The a globally unique identifier that identifies the
                Network. 
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="networkId" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ServiceListType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Type definition for a list of service resources.  Type contains
                a list of available services and associated meta-data.
                
                Elements:
                
                service - The service and associated meta-data.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="tns:service" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ServiceType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Type definition for a service.  A service may consist of zero
                or more versions.

                Attributes:
                
                serviceId - A unique identifier for this service resource
                instance.
                
                anyAttribute - Provides a flexible mechanism allowing additional
                attributes in the discovery message exchange between two peered
                NSA.  Use of this attribute field is beyond the current scope of
                this NSI specification, but may be used in the future to extend
                the existing protocol without requiring a schema change.
                Additionally, the field can be used between peered NSA to provide
                additional context not covered in the existing specification,
                however, this is left up to specific peering agreements.  
                
                Elements:
                
                link - Inherited from the Atom definition for referencing the
                Service resource directly.  The "rel" attribute contains "self"
                indicating that this reference is a direct link to the Service
                resource.  The "href" attribute contains the direct URL
                reference to the Service resource.
                
                For example:
                    href="https://nsa.ogf.org/discovery/nsa/nsa1"
                    rel="self"
                
                serviceReference - Contains the meta-data needed to determine
                the version, location, and schema associated with this service
                interface.
                
                providedBy - Provides a reference to the NSA providing the
                service identified in this service meta-data entry. 
                
                attributes - a list of optional capabilities supported by the NSA
                for this version of the service.

                any - Provides a flexible mechanism allowing additional elements
                to be provided in the discovery message.  Use of this element
                field is beyond the current scope of this NSI specification, but
                may be used in the future to extend the existing protocol without
                requiring a schema change.  Additionally, the field can be used
                between peered NSA to provide additional context not covered in
                the existing specification, however, this is left up to specific
                peering agreements.             
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="link" type="atom:linkType" />
            <xsd:element name="serviceReference" type="tns:ServiceRefType" />
            <xsd:element name="providedBy" type="tns:ProvidedByType" />
            <xsd:element name="attributes" type="ftypes:TypeValuePairListType" minOccurs="0" />
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="serviceId" use="required" type="xsd:anyURI" />
        <xsd:anyAttribute namespace="##other" processContents="lax" />
    </xsd:complexType>
    
    <xsd:complexType name="ServiceRefType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Type definition for a service reference.  This type
                encapsulates the meta-data needed to determine the version, 
                location, and schema associated with a service interface.
                
                Attributes:
                
                serviceType - The unique application Internet media type
                (Content-types) that identifies the NSI service, version, and
                supported encoding type.  For example, the following string
                identifies the NSI Service Discovery Protocol Version 1, XML
                encoded representation.
                
                serviceType="application/vnd.org.ogf.nsi.discovery.v1+xml"
                
                describedBy - This attribute contains a reference to the WSDL
                or WADL file corresponding to ths service's verison (if
                available).  For example, the following URL provides the
                location for a WADL description of the NSI Service Discovery
                Protocol Version 1.
                
                describedBy="https://nsa.ogf.org/discovery/wadl"
                
                href - This attribute contains the protocol endpoint for the
                service identified in this service reference.  For example, the
                following URL provides the protocol endpoint for the service type
                identified in this service reference.
                
                href="https://nsa.ogf.org/discovery"         
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="serviceType" type="xsd:string" use="required" />
        <xsd:attribute name="describedBy" type="xsd:anyURI" use="optional" />
        <xsd:attribute name="href" type="xsd:anyURI" use="required" />
    </xsd:complexType>

    <xsd:complexType name="ProvidedByType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Type definition providing a reference to the NSA implementing the
                service identified in the service meta-data entry.  This type
                encapsulates the NSA Identifier as defined in the NSI framework
                and a link to the NSA resource.
                
                Attributes:
                
                nsaId - Identifier of the NSA managing this service instance.
                This is the URI formatted name as defined in the NSI framework.
                
                Elements:
                
                link - A reference to the NSA resource providing this service
                instance.  Inherited from the Atom definition, the "rel"
                attribute contains "via" identifing the NSA resource that is
                the source of the information in the link's context.  The "href"
                attribute contains the direct URL reference to the NSA resource.
                The "type" attribute is not provided as the link is in the
                context of this version of discovery.
                
                For example,
                    href="https://nsa.ogf.org/discovery/nsa/nsa1"
                    rel="via"
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="link" type="atom:linkType" />
        </xsd:sequence>
        <xsd:attribute name="nsaId" use="required" type="ftypes:NsaIdType" />
    </xsd:complexType>
</xsd:schema>
