schemas/discovery/ogf_nsi_discovery_service.wadl

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://wadl.dev.java.net/2009/02 wadl.xsd"
    xmlns:types="http://schemas.ogf.org/nsi/2013/04/discovery/types"
    xmlns:ftypes="http://schemas.ogf.org/nsi/2013/04/framework/types">
    
    <grammars>
        <include href="ogf_nsi_discovery_types_v1_0-REST.xsd" />
        <include href="ogf_nsi_framework_types_v2_0.xsd" />
    </grammars>
    
    <resources base="https://localhost:8443/nsi/discovery">
        <doc>
            This is an WADL schema document describing the OGF NSI Service
            Discovery Protocol v1.0 RESTful service definition.
            
            Within the NSI reference architecture the Network Services Agent
            (NSA) is an entity that offers network services.  These services
            can be varied in functionality, and an NSA does not need to offer
            all services defined within a network.  For example, one NSA may
            offer Connection Services and Topology Services for a specific
            network, while a second NSA offers Monitoring Services for that
            same network.  In addition, the versions of the services offered
            can vary from NSA to NSA.  The Service Discovery Protocol is a
            metadata service designed to enable self-description of all NSI
            services and associated protocol interfaces offered by these NSA.
            
            The Service Discovery schema allows an NSA to describe the services
            and versions of services that it supports.  Through the REST API
            access methods defined, an NSA can dynamically discover services
            and capabilities supported by a peer NSA, perform protocol version
            negotiation based on the supplied metadata, identify protocol
            endpoints, and bootstrap peer communications with minimal
            configuration.
            
            NSI Service Discovery uses a simple resource model, which permits the
            discovery of NSA, their attributes, and the services offered.  The
            two primary resources modeled are the individual NSA and the
            individual services.  The resource URL is structured to allow for
            independent navigation using either the context of an NSA or the
            context of a service with defined relationship linkages between.

            The following URL resource hierarchy is supported:
            
            /nsas - Returns a list of all available NSA.
            /nsas?networkId={networkId} - Returns a list of NSA available matching the supplied networkId search criteria.
            /nsas/{nsaId} - Returns a specific NSA entry.
            /nsas/{nsaId}/services - Returns a list of services supported by the specific NSA.
            
            /services - Returns a list of all available services.
            /services?nsaId={nsaId} - Returns a list of services available filtered by specific NSA.
            /services?networkId={networkId} - Returns a list of services available for the matching networkId search criteria.
            /services/{serviceId} - Returns a specific service entry.
        </doc>
        
        <!-- List of NSAs resources. -->
        <resource path="nsas">
            <doc>
                A collection of NSA resources.
            </doc>
            <method name="GET">
                <doc title="Get list of NSA resources">
                    Get a list of NSA resources and associated metadata.
                </doc>
                <request>
                    <param name="networkId" required="false" style="query" type="xsd:string" />
                </request>
                <response>
                    <representation mediaType="application/vnd.org.ogf.nsi.discovery.v1+xml" element="types:nsas">
                        <doc>
                            Returns a list of NSA resources and associated
                            metadata.
                        </doc>
                    </representation>
                </response>
            </method>
            
            <!-- A specific NSA resource. -->
            <resource path="{nsaId}">
                <doc>
                    A single NSA resource identified by the URL encoded
                    representation of the unique nsaId URI.
                </doc>               
                <param name="nsaId" style="template" type="ftypes:NsaIdType" required="true" />
                <method name="GET">
                    <doc title="Get specific NSA resource identified by nsaId">

                    </doc>
                    <request />
                    <response>
                        <representation mediaType="application/vnd.org.ogf.nsi.discovery.v1+xml" element="types:nsa">
                            <doc>Returns matching NSA resource</doc>
                        </representation>
                    </response>
                </method>
                
                <!-- A list of service resources provided by a specific NSAs resource. -->
                <resource path="services">
                    <method name="GET">
                        <doc title="Get list of services associated with NSA resource">

                        </doc>
                        <request />
                        <response>
                            <representation mediaType="application/vnd.org.ogf.nsi.discovery.v1+xml" element="types:services">
                                <doc>
                                    Returns list services associated with NSA.
                                </doc>
                            </representation>
                        </response>
                    </method>
                </resource>
            </resource>
        </resource>
        
        <!-- List of service resources. -->
        <resource path="services">
            <doc>
                
            </doc>
            <method name="GET">
                <doc title="Get list of service resources">
                    
                </doc>
                <request>
                    <param name="networkId" required="false" style="query" type="xsd:string" />
                    <param name="nsaId" required="false" style="query" type="ftypes:NsaIdType" />
                </request>
                <response>
                    <representation mediaType="application/vnd.org.ogf.nsi.discovery.v1+xml" element="types:services">
                        <doc>Returns application status</doc>
                    </representation>
                </response>
            </method>
            
            <!-- A specific service resource. -->
            <resource path="{serviceId}">
                <param name="serviceId" style="template" type="xsd:string" required="true" />
                <method name="GET">
                    <doc title="Get specific service resource identified by serviceId">
                        
                    </doc>
                    <request />
                    <response>
                        <representation mediaType="application/vnd.org.ogf.nsi.discovery.v1+xml" element="types:service">
                            <doc>Returns matching service resource</doc>
                        </representation>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>
